/* SASS */
@import "sass/vars";

/* UTILITIES */
@import "utilities/font-awesome",
        "utilities/reset",
        "utilities/helpers";

/* GENERAL */
@import "general/tags",
        "general/layout";

/*COMPONENTS*/
@import "components/logo",
        "components/menu",
        "components/rrss",
        "components/card",
        "components/graph",
        "components/slider",
        "components/tooltip",
        "components/modal",
        "components/inside-charts",
        "components/chart-buttons";

/* Visibilidad de home, áreas e interiores */
.active {display: flex;}
.no-active {display: none;}

.m-footer {
    display: none; //Ocultamos el footer que aparece por defecto
}