/*FONTS*/
$roboto: 'Roboto', sans-serif;

/*COLORS*/
$bg-color: #000;
//$text-color: #fff;
$white: #fff;
$pink: #ffbec3;
$red: #ff4a4a;
$orange: #ff9574;
$yellow: #ffe68c;
$green: #59fba5;
$blue: #88ebff;

$color-map: (
    white: $white,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    blue: $blue,
);