.topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.content {
	height: 100vh;
	overflow: hidden;
}
.aside {
	height: 100%;
	border-right: 1px dotted #979797;
}
.section {
	padding: 0 16px;
	//max-height: 90vh;
	max-height: 95vh;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}
.date {
	margin-top: 24px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: #4f4f4f;
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000,.75);
	z-index: 25;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s, visibility .5s;
	&--visible {
		visibility: visible;
		opacity: 1;
	}
}
.row {
	display: flex;
	&--column {flex-direction: column;}
	&--wrap {flex-wrap: wrap;}
	&--center {justify-content: center;}
	&--between {justify-content: space-between;}
	&--end {justify-content: flex-end;}
	&--acenter {align-items: center;}
}

@media screen and (max-width: 1400px) {
	.section {padding: 0 8px;}
}

@media screen and (max-width: 1200px) {
	.section {padding: 0 16px;}
}

@media screen and (max-width: 993px) {
	.topbar {
		position: relative;
		padding: 24px 0;
	}
	.content {padding-bottom: 48px;}
	.aside {
		position: relative;
		border-top: 1px dotted #979797;
		border-right: 0;
		border-bottom: 1px dotted #979797;
		width: 100%;
		height: auto;
	}
	.section {padding: 0 4px;}
	.home {margin-top: 32px}
	.area, .slider {margin-top: 109px}
	.row {
		&--responsive-row {flex-direction: row;}
		&--responsive-column {flex-direction: column;}
		&--responsive-center {justify-content: center;}
	}
}

@media screen and (max-width: 767px) {
	.topbar {
		padding: 16px 0;
		border-bottom: 1px dotted #979797;
		position: sticky;
		top: 0;
		background: $bg-color;
	}
	.content {
		align-items: inherit;
		height: auto;
		overflow: visible;
		padding-bottom: 0;
	}
	.aside {
		border: 0;
		position: fixed;
    	left: 0;
    	top: 0;
    	height: 100%;
    	width: 280px;
    	background: rgba(#1a1a1a,.97);
    	box-sizing: border-box;
    	padding-bottom: 48px;
    	transform: translateX(-100%);
    	transition: transform .5s;
    	z-index: 200;
    	&--visible {transform: translateX(0);}
	}
	.section {
		position: relative;
		padding: 0;
		overflow: hidden;
		max-width: none;
		width: 100%;
		margin-top: 24px;
	}
	.slider {overflow: visible;}
	//.home {margin-top: 16px;}
	//.area, .slider {margin-top: 89px;}
	//.area, .slider {margin-top: 16px;}
	.date {padding-right: 16px;}
	.overlay {z-index: 250;}
	.row {
		&--mobile-column {flex-direction: column}
		&--mobile-nowrap {flex-wrap: nowrap;}
		&--mobile-start {justify-content: flex-start;}
		&--mobile-aend {align-items: flex-end;}
	}
}

@media screen and (max-width: 350px) {
	.aside {
		width: 250px;
		padding-bottom: 32px;
	}
	.section {margin-top: 16px;}
}