.cards {
	width: 100%;
	&__container {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 95%;
			height: 1px;
			border-bottom: dotted 1px #343434;
			box-sizing: border-box;
			.home & {top: 250px;}
			.area--produccion &, .area--expectativas &, .area--cuentas_publicas &, .area--empleo &, .area--demanda &, .area--sectores & {top: 375px;}
		}
	}
}
.card {
	width: 33.33%;
	box-sizing: border-box;
	padding: 0 24px;
	overflow: hidden;
	&--home {
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 256px;}
		&:nth-child(2), &:nth-child(5) {
			position: relative;
			&::before, &::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
			&::before {left: 0}
			&::after {right: 0}
		}
		&:nth-child(2) {
			&::before, &::after {height: 185px}
		}
		&:nth-child(5) {
			&::before, &::after {height: 315px}
		}
	}
	&--area {
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 96px;}
	}
	&--produccion {
		&:nth-child(2), &:nth-child(5) {
			position: relative;
			&::before, &::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
			&::before {left: 0}
			&::after {right: 0}
		}
	}
	&--expectativas {
		&:nth-child(1), &:nth-child(2) {width: 50%}
		&:nth-child(2), &:nth-child(4) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
		}
		&:nth-child(3) {margin-bottom: 0}
		&:nth-child(4) {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
		}
	}
	&--cuentas_publicas {
		width: 50%;
		&:nth-child(2), &:nth-child(4) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
		}
		&:nth-child(3) {margin-bottom: 0;}	
	}
	&--empleo {
		&:nth-child(2), &:nth-child(5) {
			position: relative;
			&::before, &::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
			&::before {left: 0}
			&::after {right: 0}
		}
	}
	&--demanda {
		width: 50%;
		&:nth-child(2), &:nth-child(4) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
		}
		&:nth-child(3) {margin-bottom: 0;}	
	}
	&--sectores {
		&:nth-child(1) {width: 100%}
		&:nth-child(2), &:nth-child(3) {
			width: 50%;
			margin-bottom: 0;
		}
		&:nth-child(3) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 1px;
				height: 315px;
				border-left: dotted 1px #343434;
				box-sizing: border-box;
			}
		}
	}
	&__header {
		margin-bottom: 40px;
		&--area {margin-bottom: 24px;}
	}
	&__name {
		font-size: 18px;
		line-height: 1.56;
		color: #545454;
	}
	&__category {font-weight: 300}
	&__separator, &__title {font-weight: 700}
	&__title {
		&--area {
			font-size: 18px;
			letter-spacing: .96px;
			color: #545454;
		}
	}
	&__separator {margin: 0 5px}
	&__link {
		font-weight: 400;
		font-size: 15px;
		line-height: 1.87;
		color: #000;
		background: #545454;
		border-radius: 2px;
		//width: 96px;
		width: 70px;
		flex-shrink: 0;
		text-align: center;
		transition: background .5s;
		&:hover {background: rgba(#545454,.6)}
	}
	&__data {
		padding-left: 16px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 50px;
		}
		&--pink {
			&::before {background: $pink}
		}
		&--red {
			&::before {background: $red}
		}
		&--orange {
			&::before {background: $orange}
		}
	}
	&__value {
		font-weight: 300;
		font-size: 39px;
		letter-spacing: 2.08px;
		color: $white;
		margin-right: 16px;
	}
	&__excerpt {
		font-weight: 400;
		font-size: 15px;
		line-height: 1.2;
		color: #757575;
		//width: 118px;
		width: 121px;
		flex-shrink: 0;
	}
}


@media screen and (max-height: 1200px) {
	.cards {
		&__container {
			&::before {
				.home & {top: 186px;}
			}
		}
	}
	.card {
		&--home {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 128px;}
		}
	}
}

@media screen and (max-height: 900px) {
	.cards {
		&__container {
			&::before {
				.home & {top: 154px;}
				.area--produccion &, .area--expectativas &, .area--cuentas_publicas &, .area--empleo &, .area--demanda &, .area--sectores & {top: 351px;}
			}
		}
	}
	.card {
		&--home {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 64px;}
		}
		&--area {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 48px;}
		}
	}
}

@media screen and (max-width: 1400px) {
	.card {
		padding: 0 16px;
		&__name {font-size: 16px;}
		&__value {margin-right: 8px;}
	}
}

@media screen and (max-width: 1200px) {
	.cards {
		&__container {
			.home &::before {top: 238px;}
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 95%;
				height: 1px;
				border-bottom: dotted 1px #343434;
				box-sizing: border-box;
				.home & {bottom: 387px;}
				.area--produccion & {bottom: 375px;}
				.area--expectativas &, .area--empleo & {bottom: 351px;}
				.area--cuentas_publicas &, .area--demanda &, .area--sectores & {content: none}
			}
		}
	}
	.card {
		&--home {
			&:nth-child(2) {
				&::before, &::after {height: 169px}
			}
			&:nth-child(4) {
				width: 50%;
				padding: 0 32px 0 16px;
			}
			&:nth-child(5) {
				order: 6;
				width: 100%;
				margin-top: 64px;
				&::before, &::after {content: none}
			}
			&:nth-child(6) {
				width: 50%;
				padding: 0 16px 0 32px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 323px;
					border-left: dotted 1px #343434;
					box-sizing: border-box;
				}
			}
		}
		&--produccion {
			width: 50%;
			&:nth-child(2), &:nth-child(5) {
				&::before, &::after {content: none;}
			}
			&:nth-child(even) {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 327px;
					border-left: dotted 1px #343434;
					box-sizing: border-box;
				}
			}
		}
		&--expectativas {
			&:nth-child(3), &:nth-child(4) {width: 50%;}
			&:nth-child(4) {
				&::after {content: none}
			}
			&:nth-child(5) {
				width: 100%;
				margin-top: 48px;
			}
		}
		&--empleo {
			width: 50%;
			&:nth-child(2), &:nth-child(5) {
				&::before, &::after {content: none;}
			}
			&:nth-child(even) {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 327px;
					border-left: dotted 1px #343434;
					box-sizing: border-box;
				}
			}
		}
		&__header {
			align-items: flex-start;
			margin-bottom: 24px;
		}
		&__name {
			font-size: 18px;
			flex-direction: column;
		}
		&__category {
			order: 2;
			transform: translateY(-5px);
		}
		&__separator {display: none;}
		&__content {
			flex-direction: column;
			align-items: flex-start;
		}
		&__data {
			padding-left: 24px;
			margin-bottom: 16px;
		}
		&__value {margin-right: 24px;}
		&__excerpt {width: 100%;}
	}
}

@media screen and (max-width: 993px) {
	.card {
		padding: 0 12px;
		&--home {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 64px;}
		}
		&--area {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 48px;}
		}
	}
}

@media screen and (max-width: 767px) {
	.cards {
		position: relative;
		width: 100%;
		padding-bottom: 64px;
		&__container {
			transition: transform .6s;
			&::before, &::after {
				.home &, .area--produccion &, .area--expectativas &, .area--empleo & {content: none}
			}
			&::before {
				.area--cuentas_publicas &, .area--demanda &, .area--sectores & {content: none}
			}
		}
		&__navigation {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 0 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.card {
		width: 100%;
		padding: 0 16px;
		flex-shrink: 0;
		&--home {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 0;}
			&:nth-child(2) {
				&::before, &::after {content: none}
			}
			&:nth-child(4), &:nth-child(6) {
				width: 100%;
				padding: 0 16px;
			}
			&:nth-child(5) {margin-top: 0;}
			&:nth-child(6) {
				&::before {content: none;}
			}
		}
		&--area {
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {margin-bottom: 0;}
		}
		&--produccion {
			&:nth-child(even) {
				&::before {content: none;}
			}
		}
		&--expectativas {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {width: 100%}
			&:nth-child(2), &:nth-child(4) {
				&::before {content: none}
			}
			&:nth-child(5) {margin-top: 0}
		}
		&--cuentas_publicas {
			&:nth-child(2), &:nth-child(4) {
				&::before {content: none}
			}
		}
		&--empleo {
			&:nth-child(even) {
				&::before {content: none;}
			}
		}
		&--demanda {
			&:nth-child(2), &:nth-child(4) {
				&::before {content: none}
			}
		}
		&--sectores {
			&:nth-child(2), &:nth-child(3) {width: 100%}
			&:nth-child(2) {
				&::before {content: none}
			}
		}
		&__dot {
			width: 8px;
			height: 8px;
			margin: 0 1px;
			border-radius: 50%;
			background: rgba($white,.2);
			transition: background .4s;
			&--active {background: $white}
		}
	}
}