/* Botones en gráficos */
.chart-buttons {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 23px;
    .button {
        width: auto;
        padding: 5px 15px;
        margin: 0px 20px;
        max-width: 200px;
        height: 28px;
        border-radius: 2px;
        opacity: 0.4;
        cursor: pointer;
        border: 0px;
        font-family: 'Roboto';
        //Específico para cada área
        &__cuentas {
            background-color: #ffd4c7;
        }
        &__demanda {
            background-color: #59fba5;
        }
        &__sectores {
            background-color: #e4fbff;
        }
        &__produccion {
            background-color: #ffbec3;
        }
        //Botón activado
        &-active {
            opacity: 1;
        }
    }
}

.graph .chart-buttons .button {
    margin: 0px 15px;
}

@media only screen and (max-width: 767px){
    .chart-buttons {
        .button {
            padding: 5px 10px;
            margin: 0 5px;
            height: auto;
        }
    }
}