.graph {
	//height: 300px;
	height: 275px;
	&__content {
		width: 100%;
    	height: 100%;
    	&--empleo {
    		display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    svg {
		        flex-basis: 33.33%;
		    }
		}		
	}
}
/*
@media screen and (max-height: 785px) {
	.area .graph {height: 250px}
}

@media screen and (max-height: 735px) {
	.area .graph {height: 225px}
}*/