.menu {
	padding: 0 56px;
	&__item {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.56;
		margin-bottom: 40px;
		transition: margin-bottom .5s; //NEW
		.menu--area & {margin-bottom: 24px;} //NEW
		&--child {
			margin-bottom: 2px;
			.menu--area & {margin-bottom: 2px;} //NEW
		}
		&:last-child {margin-bottom: 0}
	}
	&__link {
		position: relative;
		color: rgba($white,.3);
		transition: color .5s;
		&:hover {
			&::after {width: 100%;}
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 0;
			height: 1px;
			background: #979797;
			transition: width .5s;
		}
		&--active {
			&::after {width: 100%;}
		}
		@each $color-key, $color-var in $color-map {
		    &--#{$color-key} {
		    	&:hover {color: $color-var}
		    	&.menu__link--active {color: $color-var}
		    }
		}
	}
}
.submenu {
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s, padding-top .5s;
	//&--active {padding-top: 24px;}
	&--active {padding-top: 8px;} //NEW
	&__link {
		display: block;
		width: max-content;
		transition: color .5s;
		@each $color-key, $color-var in $color-map {
		    &--#{$color-key} {
		    	color: rgba($color-var,.3);
		    	&:hover {color: $color-var}
		    	&.submenu__link--active {color: $color-var}
		    }
		}
	}
}

@media screen and (max-width: 1600px) {
	.menu {padding: 0 40px;} //NEW
}

@media screen and (max-width: 1200px) {
	//.menu {padding: 0 24px;}
}

@media screen and (max-width: 993px) {
	.menu {
		padding: 24px 0 32px;
		&__item {
			margin-bottom: 0;
			margin-right: 24px;
			.menu--area & {margin-bottom: 0;} //NEW
			&:last-child {margin-right: 0}
		}
	}
	.submenu {
		position: absolute;
		top: 84px;
		left: 0;
		width: 100%;
		overflow-x: scroll;
		&--active {
			max-height: 73px;
			padding-top: 24px; //NEW
			padding-bottom: 24px;
			border-bottom: 1px dotted #979797;
		}
	}
}

@media screen and (max-width: 767px) {
	.menu {
		padding: 0;
		&__icon {
			position: absolute;
			top: 16px;
			left: 16px;
			z-index: 10;
		}
		&__title {
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 2px;
			color: #fff;
			text-transform: uppercase;
			margin-left: 16px;
		}
		&__item {
			font-weight: 300;
			padding: 16px 0 16px 48px;
			margin-right: 0;
			border-bottom: 1px dotted rgba(#979797,.3);
			&:first-child {
				padding: 0 0 24px 48px;
				display: flex;
				align-items: center;
			}
		}
		&__link {
			color: rgba(255,255,255,.7);
			&::after {bottom: -4px;}
		}
	}
}

@media screen and (max-width: 350px) {
	.menu {
		&__item {
			font-weight: 300;
			padding: 8px 0 8px 48px;
			&:first-child {padding: 0 0 16px 48px;}
		}
	}
}