.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
	width: 650px;
	background: rgba(#1a1a1a,.95);
	text-align: center;
	z-index: -1;
	opacity: 0;
	visibility: visible;
	transition: opacity .5s, visibility .5s, transform .5s;
	&--visible {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%,-50%);
		z-index: 50;
	}
	strong {font-weight: 900;}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%,-50%);
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #6e6e6e;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__header {padding: 48px 48px 0}
	&__title {
		font-weight: 900;
		font-size: 18px;
		letter-spacing: .2px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 32px;
		img {margin-right: 8px}
	}
	&__description {
		font-weight: 300;
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: .2px;
		color: #fff;
		padding-bottom: 24px;
		border-bottom: dotted 1px #3c3c3c;
		margin-bottom: 32px;
		p {margin-bottom: 24px;}
	}
	&__credits {
		font-weight: 300;
		font-size: 15px;
		line-height: 1.2;
		color: rgba(#fff,.4);
		padding: 0 48px 32px;
	}
	&__authors {margin-top: 24px;}
	&__author {
		margin-right: 24px;
		&:last-child {margin-right: 0}
	}
	&__footer {
		padding: 24px 48px;
		background: rgba(#000,.2);
		font-weight: 300;
		font-size: 14px;
		line-height: 1.07;
		color: rgba(#fff,.5);
	}
	&__links {margin: 16px 0;}
	&__link {
		font-weight: 500;
		color: rgba(#fff,.5);
		margin-right: 16px;
		transition: color .5s;
		&:last-child {margin-right: 0}
		&:hover {color: rgba(#fff,.25);}
	}
	&__comscore {
		font-weight: 400;
		font-style: italic;
	}
}

@media screen and (max-width: 767px) {
	.modal {
		width: 90%;
		&--visible {z-index: 500}
		&__header {padding: 24px 16px 0;}
		&__title {margin-bottom: 24px;}
		&__description {
			margin-bottom: 24px;
			padding-bottom: 8px;
			p {margin-bottom: 16px;}
		}
		&__credits {padding: 0 16px 24px;}
		&__authors {margin-top: 16px;}
		&__author {margin-right: 16px;}
		&__footer {padding: 24px 16px;}
	}
}

@media screen and (max-width: 350px) {
	.modal {
		&__title {margin-bottom: 16px;}
		&__description {
			font-size: 14px;
			margin-bottom: 16px;
			p {margin-bottom: 8px;}
		}
		&__credits {
			font-size: 14px;
			padding: 0 16px 16px;
		}
		&__authors {margin-top: 8px;}
		&__author {margin-right: 16px;}
		&__footer {
			font-size: 13px;
			line-height: 1.15;
			padding: 16px 16px 24px;
		}
	}
}

/* Carlos > Scroll en la descripción para móviles pequeños */
@media screen and (max-height: 580px) and (max-width: 768px){
	.modal {
		&__description {
			height: 125px;
			overflow-x: scroll;
		}
	}
}