.rrss {
	position: fixed;
	left: 0;
	bottom: 24px;
	width: 0;
	transition: width 1s;
	&__icon {
		margin: 0 12px;
		font-size: 24px;
		color: #fff;
		transition: opacity .5s;
		&:hover {opacity: .7;}
	}
}

@media screen and (max-width: 993px) {
	.rrss {
		bottom: 0;
		padding: 12px 0;
		background: rgba(#000,.85);
	}
}

@media screen and (max-width: 767px) {
	.rrss {
		z-index: 200;
		background: #272727;
		padding: 16px 0;
		transform: translateX(-100%);
		transition: transform .5s;
		&--visible {transform: translateX(0);}
		&__icon {
			font-size: 16px;
			margin: 0 19px;
		}
	}
}

@media screen and (max-width: 350px) {
	.rrss {padding: 8px 0;}
}