.slider {
	//position: relative;
	width: 100%;
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__container {
		box-sizing: border-box;
		padding: 0 24px;
		width: 100%;
		height: 100%;
	}
	&__dots {
		text-align: center;
		margin-top: 40px;
	}
	&__dot {
		cursor: pointer;
	    height: 8px;
	    width: 8px;
	    margin: 0 5px;
	    border-radius: 50%;
	    z-index: 10;
	    display: inline-block;
	    transition: background .4s ease;
	    .slider--produccion & {background: rgba($pink,.3)}
	    .slider--expectativas & {background: rgba($red,.3)}
	    .slider--cuentas_publicas & {background: rgba($orange,.3)}
	    .slider--empleo & {background: rgba($yellow,.3)}
	    .slider--demanda & {background: rgba($green,.3)}
	    .slider--sectores & {background: rgba($blue,.3)}
	    &--active {
	    	.slider--produccion & {background: $pink}
	    	.slider--expectativas & {background: $red}
	    	.slider--cuentas_publicas & {background: $orange}
	    	.slider--empleo & {background: $yellow}
	    	.slider--demanda & {background: $green}
	    	.slider--sectores & {background: $blue}
	    }
	}
	&__arrow {
		cursor: pointer;
		position: absolute;
		bottom: 0;
		transition: opacity .5s;
		&:hover {opacity: .6}
		&--prev {left: 40px}
		&--next {right: 40px}
	}
}
.slide {
	&__title {
		font-weight: 700;
		font-size: 18px;
		letter-spacing: .89px;
		color: #545454;
	}
	&__subtitle {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.56;
		color: #545454;
		margin-bottom: 40px;
	}
	&__chart {
		height: 600px;
		&#chart1-4 {			
			overflow-y: scroll;
			&::-webkit-scrollbar {
			  width: 2px;
			  background: #343434;
			}
			&::-webkit-scrollbar-thumb {
			  	border-radius: 1px;
				background: #808080;
			}
			svg {
				height: 1200px;
			}
		}
		&#chart4-1 {
			overflow-y: scroll;
			&::-webkit-scrollbar {
			  width: 2px;
			  background: #343434;
			}
			&::-webkit-scrollbar-thumb {
			  	border-radius: 1px;
				background: #808080;
			}
		}
	}
	&__note {
		margin-top: 24px;
		font-weight: 400;
	}
	&__source, &__updated {
		font-size: 15px;
		line-height: 1.2;
		color: #4f4f4f;
	}
	&__source {
		position: relative;
		margin-right: 8px;
		padding-right: 8px;
		&::before {
			content: "|";
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@media screen and (max-height: 900px) {
	.slide {
		&__chart {height: 400px;}
	}
}

@media screen and (max-width: 1400px) {
	.slider {
		&__container {padding: 0 32px;}
	}
}

@media screen and (max-width: 1200px) {
	.slider {
		&__container {padding: 0 24px;}
	}
}

@media screen and (max-width: 767px) {
	.slider {
		&__wrapper {margin-bottom: 8px;}
		&__container {padding: 0 12px;}
		&__dots {
			line-height: 32px;
			margin-top: 24px;
		}
		&__arrow {
			&--prev {left: 16px}
			&--next {right: 16px}
		}
	}
	.slide {
		&__title {
			line-height: 1.09;
			margin-bottom: 8px;
		}
		&__subtitle {
			line-height: 1.06;
			margin-bottom: 24px;
		}
		&__chart {
			&#chart4-1 {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
			}
		}
		&__source {
			margin-right: 0;
			padding-right: 0;
			&::before {content: none;}
		}
	}
}

@media screen and (max-width: 350px) {
	.slider {
		&__dots {margin-top: 16px;}
	}
	.slide {
		&__title {
			font-size: 16px;
			line-height: 1.19;
		}
		&__subtitle {
			font-size: 16px;
			line-height: 1.19;
			margin-bottom: 16px;
		}
		&__note {margin-top: 16px;}
	}
}